# Ignore everything
*

# Allow specific files
!Dockerfile
!docker-compose.yml
!README.md
!/nginx/
!/nginx/default.conf
!/nginx/nginx.conf.sample.dev
!/bash/
!/bash/.bashrc
!/docker/
!/docker/php/
!/docker/php/www.conf
!.gitignore
!LICENSE
